* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container {
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}

.container .header {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .header::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container form .user-details {
  display: flex;
  flex-wrap: wrap;
}

.user-details .input-box {
  width: calc(50% - 20px);
}

.user-details .input-box .details {
  font-weight: 500;
  margin-bottom: 5px;
}
.register-button {
  background-color: #71b7e6; /* Change the background color to match your design */
  color: #fff; /* Text color */
  font-size: 18px; /* Increase the font size */
  padding: 15px 30px; /* Increase padding for a larger button */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: #9b59b6; /* Change the background color on hover */
}
